$background: #EEF3F7;

$blue: #143b6b;
$blue-dark: #082850;
$black: #000000;
$black-acitve: #2a2a2a;
$primary-color: #00579e;
$primary-active: #0075d4;
$secundary-color: #eaa130;
$secundary-active: #ffb84e;
$gray: #9c9c9c;

$font: 'Barlow', sans-serif;